@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css");

#root {
  margin: 0 auto;
  text-align: center;
}

html {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(80, 80, 80, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1;
  color: rgb(255, 162, 39);
}
.h1-small {
  font-size: 0.5em;
  font-weight: 300;
  color: rgb(83, 83, 83)
}

h2 {
  font-size: 1.8em;
  color: #9599e6;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration:  none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border-bottom: 1px solid rgb(94, 255, 0);
  width: 100%;
  height: 8vh;
}

nav {
  font-size: 1.2em;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style-type: none;
}

nav a {
  font-weight: 700;
  display: block;
  padding: 0.2em;
  color: rgb(217, 93, 255);
  transition: 0.3s ease;
}

nav a:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86vh;
  margin: 0 auto;
}

main a {
  color: #b29dff;
  text-decoration: inherit;
}
main a:hover {
  color: #c7b7ff;
}

.main-content-wrapper {
  width: 100%;
  overflow: auto;
  padding: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(170, 170, 170);
  font-size: 0.9em;
  background-color: rgb(56, 56, 56);
}

footer p:nth-child(2) {
  font-size: 0.9em;
  color: rgb(121, 121, 121);
}

form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

input {
  font-size: 1.2em;
  padding: 0.3em 0.7em;
  border-radius: 0.4em;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
}

button {
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.3em 0.7em;
  border-radius: 0.4em;
  background-color: #9599e6;
  border: none;
  color: white
}

button:hover {
  background-color: #747bff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}